.todo-item {
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 6px;
  display: flex;
}


.todo-item .name {
  padding: 12px;
  flex: 1;
}

.todo-item.started {
  border: 1px solid #d295e6;
}

.todo-item.finished {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-item .buttons {
  padding-top: 2px;
}

.todo-item .buttons button {
  margin-left: 6px;
}

button.warn {
  background-color: #89192f;
  font-size: 24px;
  vertical-align: bottom;
  line-height: 22px;
  content: "&times;";
}

button.success {
  background-color: #01530d;
}