.todo-item {
  border: 1px solid #ddd;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item:focus {
  border: 1px solid #00a5ff;
}

.todo-item .name {
  padding: 12px;
  flex: 1;
}

.todo-item.started {
  border: 1px solid #d295e6;
}

.todo-item.finished {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-item .buttons {
  display: flex;
}

button.warn {
  background-color: #810116;
  font-size: 24px;
  vertical-align: bottom;
  line-height: 22px;
  content: "&times;";
}

button.finish {
  background-color: #d47b02;
}

button.success {
  background-color: #47a501;
}
