html, body {
  font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #644d52;
}

#root {
  max-width: 800px;
  margin: 24px auto;
}

button {
  font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  border: 0;
  border-radius: 0;
  padding: 12px;
  background-color: #47a501;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  cursor: pointer;
}
button:hover {
  padding: 14px;
  margin: -2px;
}
